*.pyc
modules/users/__pycache__/*.cpython-314.pyc
modules/users/__pycache__/user_service.cpython-314.pyc
modules/users/__pycache__/user_service.cpython-314.pyc
/movielens-20m-dataset
.DS_Store
*.sqlite
db/app.sqlite
db/app.sqlite-wal
db/app.sqlite-shm
__pycache__/
**/__pycache__/
test_app.py
