*.pyc
modules/users/__pycache__/*.cpython-314.pyc
modules/users/__pycache__/user_service.cpython-314.pyc
modules/users/__pycache__/user_service.cpython-314.pyc
/movielens-20m-dataset
.DS_Store
*.sqlite
db/app.sqlite
